{% extends "home/index.html" %}
{% load static %}

{% block film_blog_title %}
Movie detail
{% endblock %}

{% block film_blog_header %}
    {% if not movie.image %}
    <header class="masthead" style="background-image: url('/static/home/assets/img/about-bg.jpg')">
    {% else %}
    <header class="masthead" style="background-image:url('{{ movie.image.url }}')">
    {% endif %}
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ movie.title }}</h1>
                    <span class="subheading">Detalles de la pelicula</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block film_blog_content %}
<!-- Post preview-->
<div class="post-preview">
    <h2 class="post-subtitle" style="text-align:center"> Titulo oficial: {{movie.title}}</h2>
    <hr>
    <p class="post-meta">
        Genero: {{ movie.genre }} <br>
        Duración: {{ movie.duration}} minutos<br>
    </p>
    <hr>
     <!-- Image -->
     {% if movie.image %}
        <div style="text-align: center;">
            <img height="250px" src="{{ movie.image.url }}">
        </div>
    {% endif %}
    <hr>

    <p class="post-meta">
        Apartado creado por 
        <span style="color: #0b4956;" href="">{{ movie.owner.username }}</span>
        ( {{ moviie.created_at }} )
        <br>
        Última fecha de actualización {{ movie.updated_at }}
    </p>

    <!-- Description -->
    <h3>Sinopsis: </h3>
    <p class="card-text ">{{ movie.description|safe }}</p> <!-- ckeditor-->
    
    <!-- Update-Delete link only for the owner -->
    {% if user.is_superuser %}
    <p style="text-align: center">
        <a href="{% url 'movie:movie-update' movie.id %}">
            <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar Pelicula
        </a>
        &ensp; | &ensp;
        <a href="{% url 'movie:movie-delete' movie.id %}">
            <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar Pelicula
        </a>
    </p>
{% endif %}

<!-- Divider-->
<hr class="my-4" />

<!-- Comment creation -->
<form method="post" action="{% url 'movie:comment-create' movie.id %}">
    {% csrf_token %}
    {{ comment_form }}
<input type="submit" value="Publicar comentario">
</form>
{% if not comments %}
    <p></p>
{% endif %}

<!-- Comments list -->
{% for comment in comments %}
    <p> {{ comment.text }}
        ({{ comment.owner.username }} | {{ comment.updated_at }})
        {% if user == comment.owner or user.is_superuser %}
        <a href="{% url 'movie:comment-delete' comment.id %}"><i class="fa fa-trash" style="color: #881a1a;"></i></a>
        {% endif %}
    </p>
{% endfor %}
</div>
{% endblock %}