{% extends "home/index.html" %}

{% load static %}

{% block my_blog_title %}
    movie
{% endblock %}

{% block film_blog_header %}
<header class="masthead" style="background-image: url('../../static/home/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>Listado de peliculas</h1>
                    <span class="subheading">My movie blog</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'movie:movie-add' %}">Crear nueva Pelicula</a>
    </div>
</header>
{% endblock %}

{% block film_blog_content %}

{% for movie in movies %}
    <!-- Post preview-->
    <div class="post-preview">
        <h2 class="post-title">Titulo: {{ movie.title }}</h2>
        <h3 class="post-subtitle">Descripcion: {{ movie.description }}</h3>
        <h3 class="post-subtitle">Genero: {{ movie.genre}}</h3>
        <h3 class="post-subtitle">Duracion: {{ movie.duration}}</h3>
        <p class="post-meta">
            Creado por
            <a href="#!">Start Bootstrap</a> 
            en {{ movie.created_at }}
        </p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
   
{% endfor %}

<!--Pagination-->
<div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if movies.has_previous %}
                <a href="?page=1">&laquo; first</a> |
                <a href="?page={{ movies.previous_page_number }}">previous</a> |
            {% endif %}

            {% if movies.paginator.num_pages > 1 %}
            <span class="current">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }} |
            </span>
            {% endif %}

            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}">next</a> |
                <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
<!--end of Pagination-->
{% endblock %}


