{% extends "home/index.html" %}
{% load static %}

{% block film_blog_title %}
Movie delete
{% endblock %}

{% block film_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ movie.name }}</h1>
                    <h1>Eliminar pelicula</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block film_blog_content %}

<h1 style="text-align:center">Estás seguro de eliminar la pelicula: {{ movie.title }}?</h1>

<form style="text-align:center" action="" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Si, eliminar.">
    <a class="btn btn-primary" href="{% url 'movie:movie-list' %}" >Cancelar</a>
</form>

{% endblock %}