{% extends "home/index.html" %}
{% load static %}

{% block film_blog_title %}
Movie detail
{% endblock %}

{% block film_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ movie.title }}</h1>
                    <span class="subheading">Detalles de la pelicula</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'movie:movie-add' %}">Crear nueva pelicula</a>
    </div>
</header>
{% endblock %}


{% block film_blog_content %}
<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">Genero: {{ movie.genre }}</h3>
    
    <p class="post-meta">
        Creado por 
        <span style="color: #0b4956;" href="">{{ movie.owner.username }}</span>
        ( {{ movie.created_at }} )
        <br>
        Última fecha de actualización {{ movie.updated_at }}
    </p>
    <p class="card-text ">{{ movie.description|safe }}</p> <!-- ckeditor-->
   
     <!-- Update-Delete link only for the owner -->
     {% if user == movie.owner or user.is_superuser %}
     <p style="text-align: center">
        <a href="{% url 'movie:movie-update' movie.id %}">
            <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar Pelicula
         </a>
         &ensp; | &ensp;
         <a href="{% url 'movie:movie-delete' movie.id %}">
             <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar Pelicula
         </a>
     </p>
 {% endif %}
 
 <!-- Divider-->
 <hr class="my-4" />

 <!-- Comment creation -->
 <form method="post" action="{% url 'movie:comment-create' movie.id %}">
     {% csrf_token %}
     {{ comment_form }}
 <input type="submit" value="Publicar comentario">
 </form>
 {% if not comments %}
     <p></p>
 {% endif %}

 <!-- Comments list -->
 {% for comment in comments %}
     <p> {{ comment.text }}
         ({{ comment.owner.username }} | {{ comment.updated_at }})
         {% if user == comment.owner or user.is_superuser %}
         <a href="{% url 'movie:comment-delete' comment.id %}"><i class="fa fa-trash" style="color: #881a1a;"></i></a>
         {% endif %}
     </p>
 {% endfor %}
</div>
{% endblock %}